{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Salidas | REMO</title>
{% endblock title %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Salidas de Campo</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item">Salidas de campo</a></li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title" id="nombre_estacion"><i class="fas fa-broadcast-tower"></i> Estación</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Estación</label>
                <select class="form-control select2" style="width: 100%;" required id="select_estacion">
                  <option value="" selected="selected" disabled="disabled">Selecciona una estación</option>
                  {% if estaciones_list %}
                  {% for estacion in estaciones_list %}
                  <option value="{{ estacion.id }}">{{ estacion.nombre }}</option>
                  {% endfor %}
                  {% endif %}
                </select>
                <label>Tipo de salida</label>
                <select class="form-control select2" style="width: 100%;" required id="select_estacion_tipo">
                  <option selected="selected" disabled="disabled">Selecciona el tipo de salida</option>
                  {% if tipo_de_salida %}
                  {% for salida_tipo in tipo_de_salida %}
                  <option value="{{ salida_tipo.id }}">{{ salida_tipo.tipo }}</option>
                  {% endfor %}
                  {% endif %}
                </select>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Operarios</label>
                <select class="select2" multiple="multiple" data-placeholder="Selecciona los operarios"
                  style="width: 100%;">
                  {% if investigador %}
                  {% for operario in investigador %}
                  <option>{{ operario.nombre }}</option>
                  {% endfor %}
                  {% endif %}
                </select>
                <label>Fecha:</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                  </div>
                  <input type="text" class="form-control" data-inputmask-alias="datetime"
                    data-inputmask-inputformat="dd/mm/yyyy" data-mask id="fecha_salida">
                </div>
                </div>
              </div>
              <!-- /.form-group -->

            </div>
            <!-- /.col -->
            <div class="form-group">
              <label>Observaciones</label>
              <textarea class="form-control" rows="3" cols="200"
                placeholder="Ingrese las actividades realizadas durante la salida de campo"></textarea>
            </div>
          </div>
          <!-- /.row -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->


      <div class="row" id="componente_sensor">
        <div class="col-md-6">


          <!-- Aquí debe agregarse para otro componente -->
          <div class="card card-primary ">
            <div class="card-header">
              <h3 class="card-title" id="nombre_componente"><i class="fas fa-tools"></i> Componente</h3>
            </div>
            <div class="card-body">
              <!-- Date dd/mm/yyyy -->
              <div class="form-group">
                <label>Componente</label>
                <select class="form-control select2" style="width: 100%;" id="select_componente">
                  <option selected="selected" disabled="disabled">Selecciona un componente</option>
                  <!-- {% if componentes_estacion_list %}
                  {% for componente in componentes_estacion_list %}
                  <option>{{ componente }}</option>
                  {% endfor %}
                  {% endif %} -->
                </select>
                <label>Tipo de salida</label>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected" disabled="disabled">Selecciona el tipo de salida</option>
                  {% if tipo_de_salida %}
                  {% for salida_tipo in tipo_de_salida %}
                  <option>{{ salida_tipo.tipo }}</option>
                  {% endfor %}
                  {% endif %}
                </select>
              </div>
              <!-- /.form group -->
              <div class="form-group">
                <label>Observaciones</label>
                <textarea class="form-control" rows="3" cols="200"
                  placeholder="Ingrese las actividades realizadas durante la salida de campo"></textarea>
              </div>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.Fin del componente -->
        </div>


        <!-- /.col (left) -->
        <div class="col-md-6">
          <!-- Aquí debe agregarse para otro sensor -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title" id="nombre_sensor"><i class="fas fa-cloud-sun-rain"></i> Sensor</h3>
            </div>
            <div class="card-body">
              <!-- Date dd/mm/yyyy -->
              <div class="form-group">
                <label>Sensor</label>
                <select class="form-control select2" style="width: 100%;" id="select_sensor">
                  <option selected="selected" disabled="disabled">Selecciona un sensor</option>
                  <!-- {% if sensores_estacion_list %}
                  {% for sensor in sensores_estacion_list %}
                  <option>{{ sensor }}</option>
                  {% endfor %}
                  {% endif %} -->
                </select>
                <label>Tipo de salida</label>
                <select class="form-control select2" style="width: 100%;">
                  <option selected="selected" disabled="disabled">Selecciona el tipo de salida</option>
                  {% if tipo_de_salida %}
                  {% for salida_tipo in tipo_de_salida %}
                  <option>{{ salida_tipo.tipo }}</option>
                  {% endfor %}
                  {% endif %}
                </select>
              </div>
              <!-- /.form group -->
              <div class="form-group">
                <label>Observaciones</label>
                <textarea class="form-control" rows="3" cols="200"
                  placeholder="Ingrese las actividades realizadas durante la salida de campo"></textarea>
              </div>
              <div id="Prueba"></div>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.Fin del sensor -->
        </div>

        <div class="col-md-6">
          <div style="text-align: center;">
            <button type="button" class="btn btn-dark swalOK">
              <i class="fas fa-plus-circle"></i> Agregar componente
            </button>
          </div>
        </div>
        <div class="col-md-6">
          <div style="text-align: center;">
            <button type="button" class="btn btn-dark swalOK" id="addSensor">
              <i class="fas fa-plus-circle"></i> Agregar sensor
            </button>
          </div>
        </div>
        <br><br><br>
        <div class="col-md-12">
          <div class="card card-primary" style="text-align: center;">
            <button type="button" class="btn btn-success swalOK" type="submit" id="agregar">
              <i class="fas fa-clipboard-check"></i> Agregar salida
            </button>
          </div>
        </div>
        <!-- /.col (right) -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}

{% block script %}
<!-- Page specific script -->
<script src="{% static 'js/salidas_de_campo_form.js' %}"></script>

<script>
  $(function () {

    var Toast = Swal.mixin({
      toast: true,
      position: 'top-end',
      showConfirmButton: false,
      timer: 3000
    });

    $('.swalDefaultSuccess').click(function () {
      Toast.fire({
        icon: 'success',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalOK').click(function () {
      Toast.fire({
        icon: 'success',
        title: ' Agregado'
      })
    });
    $('.swalDefaultError').click(function () {
      Toast.fire({
        icon: 'error',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultWarning').click(function () {
      Toast.fire({
        icon: 'warning',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });
    $('.swalDefaultQuestion').click(function () {
      Toast.fire({
        icon: 'question',
        title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
      })
    });

    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservationdate').datetimepicker({
      format: 'L'
    });
    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({
      timePicker: true,
      timePickerIncrement: 30,
      locale: {
        format: 'MM/DD/YYYY hh:mm A'
      }
    })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges: {
          'Today': [moment(), moment()],
          'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days': [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month': [moment().startOf('month'), moment().endOf('month')],
          'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate: moment()
      },
      function (start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Timepicker
    $('#timepicker').datetimepicker({
      format: 'LT'
    })

    //Bootstrap Duallistbox
    $('.duallistbox').bootstrapDualListbox()

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    $('.my-colorpicker2').on('colorpickerChange', function (event) {
      $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
    })

    $("input[data-bootstrap-switch]").each(function () {
      $(this).bootstrapSwitch('state', $(this).prop('checked'));
    })

  })
</script>
{% endblock script %}