{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Datos | REMO</title>
{% endblock title %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Datos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Datos</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Datos de las estaciones</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Fecha</th>
                    <th>Variable</th>
                    <th>Código Variable</th>
                    <th>Valor</th>
                  </tr>
                </thead>
                <tbody>
                  {% for data in data_list %}
                  <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.fecha | date:"Y-m-d H:i:s" }}
                    </td>
                    <td>
                      {% for codigo in codigo_variable_list %}
                      {% if codigo.id == data.variable %}
                      {{ codigo.variable }}
                      {% endif %}
                      {% endfor %}
                    </td>
                    <td>
                      {{ data.variable }}
                    </td>
                    <td> {{ data.valor }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>id</th>
                    <th>Fecha</th>
                    <th>Variable</th>
                    <th>Código Variable</th>
                    <th>Valor</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}