{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Datos | REMO</title>
{% endblock title %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Datos</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Datos</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Datos de las estaciones</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Fecha</th>
                    <th>Sensor</th>
                    <th>Código Sensor</th>
                    <th>Valor</th>
                    <th>Unidad</th>
                    <th>Estación</th>
                    <th>Componente</th>
                  </tr>
                </thead>
                <tbody>

                  {% for data in data_list %}
                  <tr>
                    <td>{{ data.id }}</td>
                    <td>{{ data.fecha | date:"Y-m-d H:i:s" }}
                    </td>
                    <td>
                      {{ data.sensor.sensor.sensor.nombre }}
                    </td>
                    <td>
                      {{ data.sensor.id_sensor }}
                    </td>
                    <td> {{ data.valor }}</td>
                    <td>
                      {{ data.sensor.sensor.sensor.unidad }}

                    </td>
                    <td>
                      {{ data.sensor.estacion }}

                    </td>
                    <td>
                      {{ data.sensor.componente.componente.nombre }}
                    </td>

                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>id</th>
                    <th>Fecha</th>
                    <th>Sensor</th>
                    <th>Código Sensor</th>
                    <th>Valor</th>
                    <th>Unidad</th>
                    <th>Estación</th>
                    <th>Componente</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock content %}

<!-- Page specific script -->
{% block script %}
<!-- Highcharts -->
<script>
  $(function () {
    $("#example1").DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "language": {
        "lengthMenu": "Mostrar _MENU_ datos por página",
        "zeroRecords": "No hay datos",
        "info": "Mostrando página _PAGE_ de _PAGES_",
        "infoEmpty": "No hay datos disponibles",
        "infoFiltered": "(Filtrados de _MAX_ datos totales)"
      },
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
      initComplete: function () {
        this.api().columns().every(function () {
          var column = this;
          var select = $('<select><option value=""></option></select>')
            .appendTo($(column.footer()).empty())
            .on('change', function () {
              var val = $.fn.dataTable.util.escapeRegex(
                $(this).val()
              );

              column
                .search(val ? '^' + val + '$' : '', true, false)
                .draw();
            });

          column.data().unique().sort().each(function (d, j) {
            select.append('<option value="' + d + '">' + d + '</option>')
          });
        });
      }
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>

{% endblock script %}