{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Componentes | LABIMA</title>
{% endblock title %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Componentes</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Componentes</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card-body pb-0">
      <div class="row d-flex align-items-stretch">
        <!-- Nombrar componentes  -->
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
          <div class="card bg-light">
            <div class="card-header text-muted border-bottom-0">
              <h2 class="lead"><b>Termohigrómetro</b></h2>
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <p class="text-muted text-sm"><b>Referencia: </b>Rotronic HC2-S3</p>
                  <p class="text-muted text-sm"><b>Estado: </b>Activo OK</p>
                </div>
                <div class="col-5 text-center">
                  <a href="{% static 'img/temp_PBT.png' %}" data-toggle="lightbox" data-title="Termohigrómetro"
                    data-gallery="Termohigrómetro">
                    <img src="{% static 'img/temp_PBT.png' %}" alt="componente-avatar" class="img-fluid">
                  </a>
                </div>
                <p class="text-muted text-sm" style="padding-left: 7.5px;"><b>Protocolo de comunicacion:
                  </b>UART<br>
                  Análogo</p>
                <p class="text-muted text-sm" style="padding-left: 7.5px;"><b>Número de inventario:
                  </b>Se desconoce</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <a href="{% url 'componentes' %}" class="btn btn-sm btn-primary">
                  <i class="fas fa-info-circle"></i> Ver más
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
          <div class="card bg-light">
            <div class="card-header text-muted border-bottom-0">
              <h2 class="lead"><b>Datalogger</b></h2>
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <p class="text-muted text-sm"><b>Referencia: </b>SUTRON XLITE 9210</p>
                  <p class="text-muted text-sm"><b>Estado: </b> Regular </p>
                </div>
                <div class="col-5 text-center">
                  <a href="{% static 'img/sutron.png' %}" data-toggle="lightbox" data-title="Datalogger"
                    data-gallery="Datalogger">
                    <img src="{% static 'img/sutron.png' %}" alt="componente-avatar" class="img-fluid">
                  </a>
                </div>
                <p class="text-muted text-sm" style="padding-left: 7.5px;"><b>Protocolo de comunicacion:
                  </b>SSP (Protocolos Estandar de Sutron), MODBUS, MODEM, Telnet, HTTP, FTP, DHCP, DNS,
                  SLIP, PPP & personalizados vía programacion Basic (RS-232, TCP, & UDP) </p>
                <p class="text-muted text-sm" style="padding-left: 7.5px;"><b>Número de inventario:
                  </b>Se desconoce</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <a href="#" class="btn btn-sm btn-primary">
                  <i class="fas fa-info-circle"></i> Ver más
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
          <div class="card bg-light">
            <div class="card-header text-muted border-bottom-0">
              <h2 class="lead"><b>Transmisor satelital</b></h2>
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <p class="text-muted text-sm"><b>Referencia: </b>Satlink 2-V2 SUTRON</p>
                  <p class="text-muted text-sm"><b>Estado: </b> Bueno </p>
                </div>
                <div class="col-5 text-center">
                  <a href="{% static 'img/satlink2.png' %}" data-toggle="lightbox" data-title="Estación meteorológica"
                    data-gallery="Transmisor">
                    <img src="{% static 'img/satlink2.png' %}" alt="componente-avatar" class="img-fluid">
                  </a>
                </div>
                <p class="text-muted text-sm" style="padding-left: 7.5px;"><b>Protocolo de comunicacion:
                  </b>RS-232</p>
                <p class="text-muted text-sm" style="padding-left: 7.5px;"><b>Número de inventario:
                  </b>Se desconoce</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <a href="#" class="btn btn-sm btn-primary">
                  <i class="fas fa-info-circle"></i> Ver más
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
          <div class="card bg-light">
            <div class="card-header text-muted border-bottom-0">
              <h2 class="lead"><b>Transmisor satelital</b></h2>
            </div>
            <div class="card-body pt-0">
              <div class="row">
                <div class="col-7">
                  <p class="text-muted text-sm"><b>Referencia: </b>Satlink 2-V2 SUTRON</p>
                  <p class="text-muted text-sm"><b>Estado: </b> Bueno </p>
                </div>
                <div class="col-5 text-center">
                  <a href="{% static 'img/satlink2.png' %}" data-toggle="lightbox" data-title="Estación meteorológica"
                    data-gallery="Transmisor">
                    <img src="{% static 'img/satlink2.png' %}" alt="componente-avatar" class="img-fluid">
                  </a>
                </div>
                <p class="text-muted text-sm" style="padding-left: 7.5px;"><b>Protocolo de comunicacion:
                  </b>RS-232</p>
                <p class="text-muted text-sm" style="padding-left: 7.5px;"><b>Número de inventario:
                  </b>Se desconoce</p>
              </div>
            </div>
            <div class="card-footer">
              <div class="text-right">
                <a href="#" class="btn btn-sm btn-primary">
                  <i class="fas fa-info-circle"></i> Ver más
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}