{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>{{ componente_estacion.componente.nombre }} | LABIMA</title>
{% endblock title %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{ componente_estacion }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'componentes' %}">Componentes</a></li>
            <li class="breadcrumb-item active">{{ componente_estacion }}</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card card-solid">
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-sm-6">
            <h3 class="d-inline-block d-sm-none">{{ componente_estacion.componente }}</h3>
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="/static/img/componente_estacion/{{ componente_estacion.id }}.png"
                    alt="{{ componente_estacion.id }}">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/static/img/componente_estacion/{{ componente_estacion.id }}.png"
                    alt="{{ componente_estacion.id }}">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="/static/img/componente_estacion/{{ componente_estacion.id }}.png"
                    alt="{{ componente_estacion.id }}">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-12 col-sm-6">
            <h3 class="my-3">{{ componente_estacion.componente }}</h3>
            <p>{{ componente_estacion.componente.funcion }}</p>
            <div class="list-group">
              <table class="table table-striped" style="text-align:center;">
                <thead>
                  <tr>
                    <th scope="col">Característica</th>
                    <th scope="col">Especificación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" style="vertical-align:middle;">Sensores</th>
                    <td>
                      {% for sensores in componente_estacion.sensores.all %}
                      <a href="{{ sensores.get_absolute_url }}">
                        {{ sensores.sensor }}
                      </a>
                      {% if not forloop.last %}<br>
                      {% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" style="vertical-align:middle;">Frecuencia de muestreo</th>
                    <td>{{ componente_estacion.frecuencia_muestreo }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Frecuencia de calibración</th>
                    <td>{{ componente_estacion.componente.frecuencia_calibracion }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Frecuencia de mantenimiento</th>
                    <td>{{ componente_estacion.componente.frecuencia_mantenimiento }}</td>
                  </tr>
                  <tr>
                    <th scope="row" style="vertical-align:middle;">Protocolo de comunicación en uso</th>
                    <td>{{ componente_estacion.protocolo_comunicacion_uso }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Observaciones</th>
                    <td>
                      {% if salida_de_campo_list %}
                      {% for salida_de_campo in salida_de_campo_list %}
                      {% if forloop.first %}
                      {{ salida_de_campo.observaciones }}
                      {% endif %}
                      {% endfor %}
                      {% endif %}
                    </td>
                  </tr>

                </tbody>
              </table>

              <div class="mt-4" style="text-align:center;">
                <button type="button" class="btn btn-{{ componente_estacion.estado.color }}" data-container="body"
                  data-toggle="popover" data-placement="bottom"
                  data-content="{{ componente_estacion.estado.requerimientos }}">
                  <i class="{{ componente_estacion.estado.simbolo }}"></i>
                  {{ componente_estacion.estado }}
                </button>
                <button type="button" class="btn btn-info" data-container="body">
                  <a href="/static/doc/datasheet/{{ componente_estacion.componente.id }}.pdf"
                    download="{{ componente_estacion.componente.nombre }}.pdf" style="color:white;">
                    <i class="fas fa-file-download"></i>
                    Datasheet
                  </a>
                </button>
                <button type="button" class="btn btn-info" data-container="body">
                  <a href="#" style="color:white;">
                    <i class="fas fa-file-csv"></i>
                    CSV
                  </a>
                </button>
                <button type="button" class="btn btn-info" data-container="body">
                  <a href="#" style="color:white;">
                    <i class="far fa-file-pdf"></i>
                    PDF
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <nav class="w-100">
              <div class="nav nav-tabs" id="product-tab" role="tablist">
                <a class="nav-item nav-link active" id="descripcion-tab" data-toggle="tab" href="#descripcion"
                  role="tab" aria-controls="descripcion" aria-selected="true">Descripcion</a>
                <a class="nav-item nav-link" id="datos-invemar-tab" data-toggle="tab" href="#datos-invemar" role="tab"
                  aria-controls="datos-invemar" aria-selected="false">Datos Invemar</a>
                <a class="nav-item nav-link" id="especificaciones-tab" data-toggle="tab" href="#especificaciones"
                  role="tab" aria-controls="especificaciones" aria-selected="false">Especificaciones técnicas</a>
                <a class="nav-item nav-link" id="timeline-tab" data-toggle="tab" href="#timeline" role="tab"
                  aria-controls="timeline" aria-selected="false">Salidas de campo</a>
              </div>
            </nav>
            <div class="tab-content p-3 mx-auto" id="nav-tabContent">
              <div class="tab-pane fade show active" id="descripcion" role="tabpanel" aria-labelledby="descripcion-tab"
                style="text-align: justify;">
                {{ componente_estacion.componente.descripcion }}
              </div>

              <div class="tab-pane fade mx-auto" id="datos-invemar" role="tabpanel" aria-labelledby="datos-invemar-tab">
                <div>
                  <table class="table table-striped" style="text-align:center;">
                    <thead>
                      <tr>
                        <th scope="col">Característica</th>
                        <th scope="col">Especificación</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Número de inventario</th>
                        <td>{{ componente_estacion.numero_inventario }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Serial</th>
                        <td>{{ componente_estacion.serial }}</td>
                      </tr>
                      <tr>
                        <th scope="row">Ubicación</th>
                        <td>
                          <a href="{{ componente_estacion.ubicacion.get_absolute_url }}">
                            {{ componente_estacion.ubicacion }}
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">Responsable del equipo</th>
                        <td>{{ componente_estacion.responsable }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="tab-pane fade" id="especificaciones" role="tabpanel" aria-labelledby="especificaciones-tab">
                <table class="table table-striped" style="text-align:center;">
                  <tbody>
                    <thead class="thead-dark">
                      <tr>
                        <th colspan="2" scope="col">Energía</th>
                      </tr>
                    </thead>
                  <tbody>
                    <tr>
                      <th scope="row">Voltaje de operación</th>
                      <td>{{ componente_estacion.componente.voltaje }}</td>
                    </tr>
                    <tr>
                      <th scope="row">Consumo de corriente</th>
                      <td>{{ componente_estacion.componente.corriente }} </td>
                    </tr>
                    <thead class="thead-dark">
                      <tr>
                        <th colspan="2" scope="col">Rango de medición</th>
                      </tr>
                    </thead>
                    <tr>
                      <th scope="row">Rango</th>
                      <td>{{ componente_estacion.componente.rango_medicion }}</td>
                    </tr>
                    <thead class="thead-dark">
                      <tr>
                        <th colspan="2" scope="col">Rango de operación</th>
                      </tr>
                    </thead>
                    <tr>
                      <th scope="row">Rango</th>
                      <td>{{ componente_estacion.componente.rango_operacion }}</td>
                    </tr>
                    <thead class="thead-dark">
                      <tr>
                        <th colspan="2" scope="col">Exactitud</th>
                      </tr>
                    </thead>
                    <tr>
                      <th scope="row">Valor</th>
                      <td>{{ componente_estacion.componente.exactitud }}</td>
                    </tr>
                    <thead class="thead-dark">
                      <tr>
                        <th colspan="2" scope="col">Resolución</th>
                      </tr>
                    </thead>
                    <tr>
                      <th scope="row">Valor</th>
                      <td>{{ componente_estacion.componente.resolucion }}</td>
                    </tr>
                    <thead class="thead-dark">
                      <tr>
                        <th colspan="2" scope="col">Señales de salida</th>
                      </tr>
                    </thead>
                    <tr>
                      <th scope="row">Comunicación</th>
                      <td>{{ componente_estacion.componente.protocolo_comunicacion }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
                <!-- The timeline -->
                <div class="timeline timeline-inverse">
                  {% if salida_de_campo_list %}
                  {% for salida_de_campo in salida_de_campo_list %}
                  <!-- timeline time label -->
                  <div class="time-label">
                    <span class="bg-{{ salida_de_campo.tipo_de_salida.color }}">
                      <a href="">
                        {{ salida_de_campo.fecha }}
                      </a>
                    </span>
                  </div>
                  <!-- /.timeline-label -->
                  <!-- timeline item -->
                  <div>
                    <i
                      class="{{ salida_de_campo.tipo_de_salida.simbolo }} bg-{{ salida_de_campo.tipo_de_salida.color2 }}"></i>

                    <div class="timeline-item">

                      <h3 class="timeline-header"><a href="{{ salida_de_campo.componente.ubicacion.get_absolute_url }}">
                          {{ salida_de_campo.componente }}</a> {{ salida_de_campo.tipo_de_salida.tipo }}
                      </h3>

                      <div class="timeline-body">
                        {{ salida_de_campo.observaciones }}
                      </div>
                    </div>
                  </div>
                  <!-- END timeline item -->
                  {% endfor %}
                  {% else %}
                  <div>
                    <div class="timeline-item">
                      <h3 class="timeline-header"><b>No hay salidas de campo</b></h3>
                    </div>
                  </div>
                  {% endif %}
                  <div>
                    <i class="far fa-clock bg-gray"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}