{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Calendario | REMO</title>
{% endblock title %}

{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Calendario</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Inicio</a></li>
            <li class="breadcrumb-item active">Calendario</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container">
      <div id="calendar" class="col-md-12">
      </div>

      <!-- /.row -->

      <!-- Modal -->
      <div class="modal fade" id="ModalAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form class="form-horizontal" method="POST" action="api/Calendario_Salida_De_Campo/">

              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Agregar Evento</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>

              </div>
              <div class="modal-body">

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-2">
                      <label for="estacion" class="control-label">Estación</label>
                    </div>
                    <div class="col-sm-10">
                      <select name="" class="form-control select2" id="select_estacion">
                        <option value="" selected="selected" disabled="disabled">Selecciona una estación</option>
                        {% if estaciones_list %}
                        {% for estacion in estaciones_list %}
                        <option class="col-sm-2 control-label" value="{{ estacion.id }}">{{ estacion.nombre }}</option>
                        {% endfor %}
                        {% endif %}
                      </select>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-2">
                      <label for="estacion" class="control-label">Tipo de salida</label>
                    </div>
                    <div class="col-sm-10">
                      <select name="" class="form-control select2" id="select_estacion_tipo">
                        <option selected="selected" disabled="disabled">Selecciona el tipo de salida</option>
                        {% if tipo_de_salida %}
                        {% for salida_tipo in tipo_de_salida %}
                        <option value="{{ salida_tipo.id }}">{{ salida_tipo.tipo }}</option>
                        {% endfor %}
                        {% endif %}
                      </select>
                    </div>
                  </div>
                </div>


                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-2">
                      <label for="estacion" class="control-label">Fecha inicial</label>
                    </div>
                    <div class="col-sm-10">
                      <input class="form-control" type="date" value="" id="fecha_inicial">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-2">
                      <label for="estacion" class="control-label">Fecha final</label>
                    </div>
                    <div class="col-sm-10">
                      <input class="form-control" type="date" value="" id="fecha_final">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-2">
                      <label for="estacion" class="control-label">Observaciones</label>
                    </div>
                    <div class="col-sm-10">
                      <textarea class="form-control" rows="3" cols="200"
                        placeholder="Ingrese las actividades que se van a realizar durante la salida de campo"
                        id="observaciones_estacion"></textarea>
                    </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary swalOK" id="nueva_salida">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>



      <!-- Modal -->
      <div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form class="form-horizontal" method="POST" action="editEventTitle.php">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modificar Evento</h4>
              </div>
              <div class="modal-body">

                <div class="form-group">
                  <label for="title" class="col-sm-2 control-label">Titulo</label>
                  <div class="col-sm-10">
                    <input type="text" name="title" class="form-control" id="title" placeholder="Titulo">
                  </div>
                </div>
                <div class="form-group">
                  <label for="color" class="col-sm-2 control-label">Color</label>
                  <div class="col-sm-10">
                    <select name="color" class="form-control" id="color">
                      <option value="">Seleccionar</option>
                      <option style="color:#0071c5;" value="#0071c5">&#9724; Azul oscuro</option>
                      <option style="color:#40E0D0;" value="#40E0D0">&#9724; Turquesa</option>
                      <option style="color:#008000;" value="#008000">&#9724; Verde</option>
                      <option style="color:#FFD700;" value="#FFD700">&#9724; Amarillo</option>
                      <option style="color:#FF8C00;" value="#FF8C00">&#9724; Naranja</option>
                      <option style="color:#FF0000;" value="#FF0000">&#9724; Rojo</option>
                      <option style="color:#000;" value="#000">&#9724; Negro</option>

                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label class="text-danger"><input type="checkbox" name="delete"> Eliminar Evento</label>
                    </div>
                  </div>
                </div>

                <input type="hidden" name="id" class="form-control" id="id">


              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="nueva_salida">Guardar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <!-- /.container -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{% endblock content %}

{% block script %}

<script>
  $(document).ready(function () {

    var date = new Date();
    var yyyy = date.getFullYear().toString();
    var mm = (date.getMonth() + 1).toString().length == 1 ? "0" + (date.getMonth() + 1).toString() : (date.getMonth() + 1).toString();
    var dd = (date.getDate()).toString().length == 1 ? "0" + (date.getDate()).toString() : (date.getDate()).toString();

    $('#calendar').fullCalendar({
      header: {
        right: 'prev,next today',
        // center: 'title',
      },
      defaultDate: yyyy + "-" + mm + "-" + dd,
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      selectable: true,
      selectHelper: true,
      select: function (start, end) {

        $('#ModalAdd #start').val(moment(start).format('YYYY-MM-DD'));
        $('#ModalAdd #end').val(moment(end).format('YYYY-MM-DD'));
        $('#ModalAdd').modal('show');
      },
      eventRender: function (event, element) {
        element.bind('dblclick', function () {
          $('#ModalEdit #id').val(event.id);
          $('#ModalEdit #title').val(event.title);
          $('#ModalEdit #color').val(event.color);
          $('#ModalEdit').modal('show');
        });
      },
      eventDrop: function (event, delta, revertFunc) { // si changement de position

        edit(event);

      },
      eventResize: function (event, dayDelta, minuteDelta, revertFunc) { // si changement de longueur

        edit(event);

      },
      events: [
        {% for calendario in calendario_list %}
          {
        title: "{{ calendario.estacion }}" + '{{ calendario.fecha_inicio | date:"Y-m-d" }}',
        start: '{{ calendario.fecha_inicio | date:"Y-m-d" }}',
        end: '{{ calendario.fecha_fin | date:"Y-m-d" }}',
        // color: '#008000',
      },
      {% endfor %}
      ]
    });
  function edit(event) {
    start = event.start.format('YYYY-MM-DD');
    if (event.end) {
      end = event.end.format('YYYY-MM-DD');
    } else {
      end = start;
    }

    id = event.id;

    Event = [];
    Event[0] = id;
    Event[1] = start;
    Event[2] = end;

    $.ajax({
      url: 'editEventDate.php',
      type: "POST",
      data: {
        Event: Event
      },
      success: function (rep) {
        if (rep == 'OK') {
          alert('Evento se ha guardado correctamente');
        } else {
          alert('No se pudo guardar. Inténtalo de nuevo.');
        }
      }
    });
  }
  });
</script>
{% endblock script %}